[submodule "backend/libraries/whisper.cpp"]
	path = backend/libraries/whisper.cpp
	url = git@github.com:ggml-org/whisper.cpp.git
[submodule "backend/libraries/json"]
	path = backend/libraries/json
	url = git@github.com:nlohmann/json.git
[submodule "backend/libraries/libdatachannel"]
	path = backend/libraries/libdatachannel
	url = git@github.com:paullouisageneau/libdatachannel.git
