[submodule "backend/libraries/whisper.cpp"]
	path = backend/libraries/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp.git
[submodule "backend/libraries/libdatachannel"]
	path = backend/libraries/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
