[submodule "backend/libraries/whisper.cpp"]
	path = backend/libraries/whisper.cpp
	url = https://github.com/deepkhurana1999/whisper.cpp.git
	branch = v1.8.0_parallel
[submodule "backend/libraries/libdatachannel"]
	path = backend/libraries/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
