MODEL_PATH=/models/ggml-small.en-q5_1.bin
VAD_MODEL_PATH=/models/vad/silero_vad.onnx
SERVER_PORT=8080
LLM_MODEL=qwen3:8b-q4_K_M
LLM_SERVER_URL=http://lekhanai-ollama:11434
LLM_MODEL_PROVIDER=ollama
N_THREADS=2
N_PROCESSORS=2